{{ define "content" }}
    <div class="row" style="background-color: green">
        <div class="col-sm-4">Todo-Listen</div>
        <div class="col-sm-4">Full-Featured Todo-List</div>
        <div class="col-sm-4">Create Todo-Items</div>
    </div>
{{ end }} 

{{ template "layout.gohtml" }}