.navbar {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}

.nav-link {
    color: #f1c40f !important;
    margin-left: 2em;
    font-size: 30px;
}    

.navbar .navbar-brand {
    font-size: 50px;
    font-color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px #f1c40f, 0 0 5px #f1c40f;
}

body {
    background-image: url('../images/earth.jpg');
    background-size: cover
}

button.submit {
    box-shadow: 10px 10px 5px grey;
}

button.submit:hover {
    box-shadow: 0px 0px 50px #f1c40f;
    color: #f1c40f;
}

form {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2em;
    max-width: 100%;
    width: 50em;
    margin-top: 10em;
    border-radius: 1em;
    border-width: 3px;
    border-style: solid;
    border-color: #3498db;
    color: #2c3e50;
}

form:hover{
    box-shadow: 0px 0px 50px #f1c40f;
    border-color: black;
}

.content .col, .row {
    max-width: 100%;
}

#timebox {
    color: white !important;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px #f1c40f, 0 0 5px #f1c40f;
    font-size: 30px;
    font-family: 'Share Tech Mono', monospace;
}